<app-navbar></app-navbar>

<div class="container">
  <div class="row" >
    <div class="col-xs-6 col-sm-3" *ngFor="let x of data">
      <div class="card" style="border: 1px solid #ccc; text-align: center; margin-bottom: 15px;">
        <img class="card-img-top" src="{{x.prod_image_url}}" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">{{x.prod_sub_category}}</h4>
          <p class="card-text">{{x.prod_offer_price}}</p>
        </div>
      </div>
    </div>
  </div>
</div>



