<div class="container">
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     <!--  <a class="navbar-brand" href="#">SOS</a> -->
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">


 <li class="dropdown dropdown-large">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Apparel & Accessories <b class="caret"></b></a>

        <ul class="dropdown-menu dropdown-menu-large row">
          <li class="col-sm-3">
            <ul>
              <li class="dropdown-header">Men's Clothing</li>
              <li><a href="product-grid-left-sidebar.html">Casual Shirts</a></li>
                        <li><a href="product-grid-left-sidebar.html">Formal Shirts</a></li>
                        <li><a href="product-grid-left-sidebar.html">T-shirts & Collared Tees</a></li>
                        <li><a href="product-grid-left-sidebar.html">Sweaters & Sweatshirts</a></li>
                        <li><a href="product-grid-left-sidebar.html">Jackets & Blazers</a></li>
                        <li><a href="product-grid-left-sidebar.html">Kurtas</a></li>
                        <li><a href="product-grid-left-sidebar.html">Jeans</a></li>
                        <li><a href="product-grid-left-sidebar.html">Pants / Trousers</a></li>
                        <li><a href="product-grid-left-sidebar.html">Shorts</a></li>
                        <li><a href="product-grid-left-sidebar.html">Inner & Sleepwear</a></li>
         <!--      <li class="divider"></li>
         <li class="dropdown-header">Theme/Character</li>
         <li><a href="#">Example</a></li>
         <li><a href="#">Example</a></li>
         <li><a href="#">Example</a></li>
         <li><a href="#">Example</a></li>
          -->
            </ul>
          </li>
          <li class="col-sm-3">
            <ul>
              <li class="dropdown-header">Women's Clothing</li>
               <li><a href="product-grid-left-sidebar.html">Dresses</a></li>
                        <li><a href="product-grid-left-sidebar.html">Shirts, Tops & Tees</a></li>
                        <li><a href="product-grid-left-sidebar.html">Sweaters & Sweatshirts</a></li>
                        <li><a href="product-grid-left-sidebar.html">Shrugs & Jackets</a></li>
                        <li><a href="product-grid-left-sidebar.html">Jeans & Jeggings</a></li>
                        <li><a href="product-grid-left-sidebar.html">Shorts & Skirts</a></li>
                        <li><a href="product-grid-left-sidebar.html">Leggings & Capris</a></li>
                        <li><a href="product-grid-left-sidebar.html">Pants / Trousers</a></li>
                        <li><a href="product-grid-left-sidebar.html">Lingerie & Sleepwear</a></li>

              <li class="divider"></li>
                        <li class="dropdown-header">Women's Accessories</li>
                        <li><a href="product-grid-left-sidebar.html">Bags & Wallets</a></li>
                        <li><a href="product-grid-left-sidebar.html">Cosmetics & Perfumes</a></li>
                        <li><a href="product-grid-left-sidebar.html">Jewellery</a></li>
                        <li><a href="product-grid-left-sidebar.html">Sunglasses</a></li>
                        <li><a href="product-grid-left-sidebar.html">Watches</a></li>
            </ul>
          </li>
<li class="col-sm-3">
            <ul>
              <li class="dropdown-header">For Girls</li>
              <li><a href="product-grid-left-sidebar.html">Accessories</a></li>
                        <li><a href="product-grid-left-sidebar.html">Bottoms</a></li>
                        <li><a href="product-grid-left-sidebar.html">Dresses</a></li>
                        <li><a href="product-grid-left-sidebar.html">Tees & Tops</a></li>
                        <li><a href="product-grid-left-sidebar.html">Partywear</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">For Boys</li>
              <li><a href="product-grid-left-sidebar.html">Accessories</a></li>
                        <li><a href="product-grid-left-sidebar.html">Bottoms</a></li>
                        <li><a href="product-grid-left-sidebar.html">Sweaters & Jackets</a></li>
                        <li><a href="product-grid-left-sidebar.html">Tees & Tops</a></li>

            </ul>
          </li>
          <li class="col-sm-3">
            <ul>
              <li class="dropdown-header">Men's Accessories</li>
             <li><a href="product-grid-left-sidebar.html">Bags & Backpacks</a></li>
                        <li><a href="product-grid-left-sidebar.html">Belts, Ties & Cufflinks</a></li>
                        <li><a href="product-grid-left-sidebar.html">Caps & Hats</a></li>
                        <li><a href="product-grid-left-sidebar.html">Fragrances & Deos</a></li>
                        <li><a href="product-grid-left-sidebar.html">Grooming</a></li>
                        <li><a href="product-grid-left-sidebar.html">Jewellery</a></li>
                        <li><a href="product-grid-left-sidebar.html">Sunglasses</a></li>
                        <li><a href="product-grid-left-sidebar.html">Scarves & Mufflers</a></li>
                        <li><a href="product-grid-left-sidebar.html">Wallets</a></li>
                        <li><a href="product-grid-left-sidebar.html">Watches</a></li>
              <li class="divider"></li>

            </ul>
          </li>

        </ul>

      </li>



        <li class="dropdown dropdown-large">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shoes & More <b class="caret"></b></a>

        <ul class="dropdown-menu dropdown-menu-large row">
          <li class="col-sm-3">
            <ul>
              <li class="dropdown-header">Men’s Footwear</li>
             <li><a href="product-grid-left-sidebar.html">Casual Shoes</a></li>
                        <li><a href="product-grid-left-sidebar.html">Sports Shoes</a></li>
                        <li><a href="product-grid-left-sidebar.html">Formal Shoes</a></li>
                        <li><a href="product-grid-left-sidebar.html">Sandals & Floaters</a></li>
                        <li><a href="product-grid-left-sidebar.html">Flip- Flops & Slippers</a></li>
                        <li><a href="product-grid-left-sidebar.html">Sneakers</a></li>
                        <li><a href="product-grid-left-sidebar.html">Loafers</a></li>
                        <li><a href="product-grid-left-sidebar.html">Running Shoes</a></li>
                        <li><a href="product-grid-left-sidebar.html">Boots</a></li>
              <li class="divider"></li>
             <!--  <li class="dropdown-header">Theme/Character</li>
             <li><a href="#">Example</a></li>
             <li><a href="#">Example</a></li>
             <li><a href="#">Example</a></li>
             <li><a href="#">Example</a></li> -->

            </ul>
          </li>
          <li class="col-sm-3">
            <ul>
              <li class="dropdown-header">Women's Footwear</li>
              <li><a href="product-grid-left-sidebar.html">Flats</a></li>
                        <li><a href="product-grid-left-sidebar.html">Heels</a></li>
                        <li><a href="product-grid-left-sidebar.html">Bellies</a></li>
                        <li><a href="product-grid-left-sidebar.html">Wedges</a></li>
                        <li><a href="product-grid-left-sidebar.html">Sports Shoes</a></li>
                        <li><a href="product-grid-left-sidebar.html">Casual Shoes</a></li>
                        <li><a href="product-grid-left-sidebar.html">Formal Shoes</a></li>
                        <li><a href="product-grid-left-sidebar.html">Sports Sandals</a></li>
              <li class="divider"></li>

            </ul>
          </li>
<li class="col-sm-3">
            <ul>
              <li class="dropdown-header">Accessories</li>
             <li><a href="product-grid-left-sidebar.html">Socks </a></li>
                        <li><a href="product-grid-left-sidebar.html">Shoe Care</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Boy's Footwear</li>
                        <li><a href="product-grid-left-sidebar.html">Casual Shoes</a></li>
                        <li><a href="product-grid-left-sidebar.html">Sandals</a></li>
                        <li><a href="product-grid-left-sidebar.html">Clogs</a></li>

               <li class="divider"></li>
              <li class="dropdown-header">Girl's Footwear</li>
                        <li><a href="product-grid-left-sidebar.html">Casual Shoes</a></li>
                        <li><a href="product-grid-left-sidebar.html">Sandals</a></li>
                        <li><a href="product-grid-left-sidebar.html">Clogs</a></li>

            </ul>
          </li>
          <li class="col-sm-3">
            <ul>
              <li class="dropdown-header">Kid's Footwear</li>

              <li class="divider"></li>

            </ul>
          </li>

        </ul>

      </li>




       <li class="dropdown dropdown-large">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Jewellery & Diamonds <b class="caret"></b></a>

        <ul class="dropdown-menu dropdown-menu-large row">
          <li class="col-sm-3">
            <ul>
              <li class="dropdown-header">PENDANTS</li>
                        <li><a href="product-grid-left-sidebar.html">For Men</a></li>
                        <li><a href="product-grid-left-sidebar.html">For Women</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Coins & Chains</li>
               <li><a href="#">Coins & Chains</a></li>

              <li class="divider"></li>
              <li class="dropdown-header">Bracelets for Men</li>
               <li><a href="#">Bracelets for Men</a></li>


            </ul>
          </li>
          <li class="col-sm-3">
            <ul>
              <li class="dropdown-header">EARRINGS</li>
                        <li><a href="product-grid-left-sidebar.html">Men's Earrings</a></li>
                        <li><a href="product-grid-left-sidebar.html">Women's Earrings</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">RINGS</li>
              <li><a href="product-grid-left-sidebar.html">Men's Rings</a></li>
                        <li><a href="product-grid-left-sidebar.html">Women's Rings</a></li>
                <li class="divider"></li>
              <li class="dropdown-header">MANGALSUTRA</li>
               <li><a href="#">MANGALSUTRA</a></li>

            </ul>
          </li>
<li class="col-sm-3">
            <ul>
              <li class="dropdown-header">GIFTS</li>
             <li><a href="product-grid-left-sidebar.html">Below 1000</a></li>
                        <li><a href="product-grid-left-sidebar.html">Between 1001-5000</a></li>
                        <li><a href="product-grid-left-sidebar.html">Between 5001-10000</a></li>
                        <li><a href="product-grid-left-sidebar.html">Between 10001-20000</a></li>
                        <li><a href="product-grid-left-sidebar.html">Above 20000</a></li>
             <!--  <li class="divider"></li>
             <li class="dropdown-header">Theme/Character</li>
             <li><a href="#">Example</a></li>
             <li><a href="#">Example</a></li>
             <li><a href="#">Example</a></li>
             <li><a href="#">Example</a></li> -->

            </ul>
          </li>
         <!--  <li class="col-sm-3">
           <ul>
             <li class="dropdown-header">by brand</li>
             <li><a href="#">Example</a></li>
             <li><a href="#">Example</a></li>
             <li><a href="#">Example</a></li>
             <li><a href="#">Example</a></li>
             <li><a href="#">Example</a></li>
             <li><a href="#">Example</a></li>
             <li class="divider"></li>

           </ul>
         </li> -->

        </ul>

      </li>







 <li class="dropdown dropdown-large">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home Décor <b class="caret"></b></a>

        <ul class="dropdown-menu dropdown-menu-large row">
          <li class="col-sm-3">
            <ul>
              <li class="dropdown-header">FURNITURE</li>
                        <li><a href="product-grid-left-sidebar.html">Living Room Furniture</a></li>
                        <li><a href="product-grid-left-sidebar.html">Dining Room Furniture</a></li>
                        <li><a href="product-grid-left-sidebar.html">Bedroom Furniture</a></li>
                        <li><a href="product-grid-left-sidebar.html">Bar Furniture</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">LIGHTING</li>
             <li><a href="product-grid-left-sidebar.html">Table Lamps</a></li>
                        <li><a href="product-grid-left-sidebar.html">Ceiling Lights</a></li>
                        <li><a href="product-grid-left-sidebar.html">Floor Lamps</a></li>
                        <li><a href="product-grid-left-sidebar.html">Wall Lights</a></li>

            </ul>
          </li>
          <li class="col-sm-3">
            <ul>
              <li class="dropdown-header">BED & BATH</li>
                        <li><a href="product-grid-left-sidebar.html">Bed Room</a></li>
                        <li><a href="product-grid-left-sidebar.html">Bath Room</a></li>
                   <!--  <li class="dropdown-header">Decor</li>
                       <li><a href="product-grid-left-sidebar.html">Clocks</a></li>
                       <li><a href="product-grid-left-sidebar.html">Wall Décor</a></li>
                       <li><a href="product-grid-left-sidebar.html">Cushions & Throws</a></li>
                       <li><a href="product-grid-left-sidebar.html">Garden Décor</a></li>
                       <li><a href="product-grid-left-sidebar.html">Curtains & Accessories</a></li>
                       <li><a href="product-grid-left-sidebar.html">Vasees & Flowers</a></li>
                       <li><a href="product-grid-left-sidebar.html">Statues & Show Pieces</a></li>
                       <li><a href="product-grid-left-sidebar.html">Candles & Fragrances</a></li>
                       <li><a href="product-grid-left-sidebar.html">Rugs & Carpets</a></li>
                       <li><a href="product-grid-left-sidebar.html">Photo Frames & Albums</a></li>
                       <li><a href="product-grid-left-sidebar.html">Handicrafts</a></li>
                       <li><a href="product-grid-left-sidebar.html">Others</a></li> -->



            </ul>
          </li>
<li class="col-sm-3">
            <ul>
              <li class="dropdown-header">KITCHEN & DINING</li>
              <li><a href="product-grid-left-sidebar.html">Bar & Drinkware</a></li>
                        <li><a href="product-grid-left-sidebar.html">Kitchen Storage</a></li>
                        <li><a href="product-grid-left-sidebar.html">Table Ware </a></li>
                        <li><a href="product-grid-left-sidebar.html">Coffee & Tea</a></li>
                        <li><a href="product-grid-left-sidebar.html">Table Linen</a></li>
                        <li><a href="product-grid-left-sidebar.html">Bakeware</a></li>
                        <li><a href="product-grid-left-sidebar.html">Kitchen Tools</a></li>
                        <li><a href="product-grid-left-sidebar.html">Cookware</a></li>
                        <li><a href="product-grid-left-sidebar.html">Cooking Tops & Burners</a></li>
                        <li><a href="product-grid-left-sidebar.html">Kitchen Accessories</a></li>
                        <li><a href="product-grid-left-sidebar.html">Cleaning & Household</a></li>
                        <li><a href="product-grid-left-sidebar.html">Glassware</a></li>
              <!-- <li class="divider"></li>
              <li class="dropdown-header">Theme/Character</li>
              <li><a href="#">Example</a></li>
              <li><a href="#">Example</a></li>
              <li><a href="#">Example</a></li>
              <li><a href="#">Example</a></li> -->

            </ul>
          </li>
           <li class="col-sm-3">
            <ul>
              <li class="dropdown-header">Decor</li>
            <li><a href="product-grid-left-sidebar.html">Clocks</a></li>
                        <li><a href="product-grid-left-sidebar.html">Wall Décor</a></li>
                        <li><a href="product-grid-left-sidebar.html">Cushions & Throws</a></li>
                        <li><a href="product-grid-left-sidebar.html">Garden Décor</a></li>
                        <li><a href="product-grid-left-sidebar.html">Curtains & Accessories</a></li>
                        <li><a href="product-grid-left-sidebar.html">Vasees & Flowers</a></li>
                        <li><a href="product-grid-left-sidebar.html">Statues & Show Pieces</a></li>
                        <li><a href="product-grid-left-sidebar.html">Candles & Fragrances</a></li>
                        <li><a href="product-grid-left-sidebar.html">Rugs & Carpets</a></li>
                        <li><a href="product-grid-left-sidebar.html">Photo Frames & Albums</a></li>
                        <li><a href="product-grid-left-sidebar.html">Handicrafts</a></li>
                        <li><a href="product-grid-left-sidebar.html">Others</a></li>
              <li class="divider"></li>

            </ul>
          </li>

        </ul>

      </li>









      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search product,brand and more">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
