<app-navbar></app-navbar>
<div class="slider-ctrl">
<carousel class="slider_first">
  <slide>
    <img src="assets/images/1.jpg" alt="first slide">
  </slide>
  <slide>
    <img src="assets/images/2.jpg" alt="second slide">
  </slide>
  <slide>
    <img src="assets/images/3.jpg" alt="third slide">
  </slide>
  <slide>
    <img src="assets/images/4.jpg" alt="third slide">
  </slide>
  <slide>
    <img src="assets/images/5.jpg" alt="third slide">
  </slide>
 </carousel>
</div>

<a routerLink="/Jewell/ring">Jewell</a>





<div class="btn-group" dropdown>
  <button id="button-basic" dropdownToggle type="button" class="btn btn-primary dropdown-toggle"
          aria-controls="dropdown-basic" (change)="onChange($event)">
    Button dropdown <span class="caret"></span>
  </button>
   <ul class="dropdown-menu" >
    <li>
      <ul class="list-unstyled col-sm-6" >
          <li name="selected" value="name" ><a class="" href="#">Windows 32-bit</a></li>
          <li name="selected1" value="name1" ><a class="" href="#">Windows 64-bit</a></li>
      </ul>
      <ul class="list-unstyled col-sm-6">
        <li><a class="" href="#">Linux 32-bit</a></li>
          <li><a class="" href="#">Linux 64-bit</a></li>
      </ul>
    </li>
  </ul>
</div>




​
